// forms

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  border: 1px solid $form-element-border-color;
  padding: $form-element-padding;

  // &:hover {
    
  // }

  &:focus {
    border-color: $form-element-focus-border-color;
  }

  @include placeholder {
    color: $placeholder-color;
  }
}

select {
  -webkit-border-radius: 0;
}

textarea {
  resize: vertical;
  vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
}

.default-button {
  background: $green;
  color: $white;
  border: none;
  box-shadow: none;
  padding: 10px 30px;
  outline: none;
  &:hover {
    background: darken($green, 10%);
  }
}

.default-input {
  display: block;
  width: 100%;
  height: 60px;
  border: 4px solid $grey-dark;
  outline: none;
  transition: border-color 0.3s;
  color: $grey-dark;
  padding: 0 20px;
}

